name: Generate Podcast Feeds
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Run Feed Generator
        uses: rachellegithub/podcast-generator-proj-cert@main
        
     
