name: Generate Podcast Feeds
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install Dependencies
        run: |
          python -m pip install -upgrade pip
          pip install pyyaml
      - name: Run Feed Generator
        run: python feed.py
      - name: Push Repo
        run: |
          git config user.name github-actions
          git config user.email rachellejclemente@gmail.com
          git add .
          git commit -m "modified feed after running feed"
          git push
